
.NavBar-div{
    position: fixed;
    width: 100%;
    background-color: black;
    box-shadow: 5px 5px 5px black;
    padding: 2%;
}
.NavBar-buttons{
}

.CartWidget{
    justify-content: flex-end;
}

a:-webkit-any-link {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.button-container{
    display: flex;
    justify-content: space-around;

}



    