
.NavBar-div{
    position: fixed;
    width: 100%;
    background-color: black;
    box-shadow: 5px 5px 5px black;
    padding: 2%;
}
.NavBar-buttons{
    display: flex;
    justify-content:flex-end;
    color: white;
}
.NavBar-img{
    justify-content: flex-start;
}

.CartWidget{
    justify-content: flex-end;
}



    